/****** Object:  Database [openbankingv1]    Script Date: 1/09/2023 5:30:29 p. m. ******/
CREATE DATABASE [openbankingv1]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  User [ob_programmatic]    Script Date: 1/09/2023 5:30:30 p. m. ******/
CREATE USER [ob_programmatic] WITH PASSWORD=N'wAhE6s5aAbA3wxUXzgdigyfdkmK9SuAIAj3LYetUdYk=', DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [OB_V1]    Script Date: 1/09/2023 5:30:30 p. m. ******/
CREATE SCHEMA [OB_V1]
GO
/****** Object:  Schema [OP_V1]    Script Date: 1/09/2023 5:30:30 p. m. ******/
CREATE SCHEMA [OP_V1]
GO
/****** Object:  Table [OB_V1].[BANCO]    Script Date: 1/09/2023 5:30:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OB_V1].[BANCO](
	[BANCO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[LOCATION] [varchar](200) NULL,
	[PROVIDER] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BANCO_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [OB_V1].[CLASIFICACION]    Script Date: 1/09/2023 5:30:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OB_V1].[CLASIFICACION](
	[CLASIFICACION_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[CLASIFICACION_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [OB_V1].[CUENTA]    Script Date: 1/09/2023 5:30:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OB_V1].[CUENTA](
	[CUENTA_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LINK] [varchar](150) NULL,
	[USUARIO_ID] [bigint] NULL,
	[PROVEEDOR_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUENTA_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [OB_V1].[ENTIDAD]    Script Date: 1/09/2023 5:30:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OB_V1].[ENTIDAD](
	[ENTIDAD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ENTIDAD] [varchar](300) NULL,
	[CLASIFICACION_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ENTIDAD_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [OB_V1].[PRODUCTO]    Script Date: 1/09/2023 5:30:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OB_V1].[PRODUCTO](
	[PRODUCTO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[FRANQUICIA] [varchar](100) NULL,
	[IMAGEN] [varchar](500) NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[VALOR_PREAPROBADO] [int] NULL,
	[CUOTA_MANEJO] [int] NULL,
	[INTERESES] [numeric](18, 0) NULL,
	[SOLICITUD] [varchar](100) NULL,
	[PUNTAJE_MIN] [int] NULL,
	[PUNTAJE_MAX] [int] NULL,
	[CLASIFICACION_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTO_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [OB_V1].[PROVEEDORES]    Script Date: 1/09/2023 5:30:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OB_V1].[PROVEEDORES](
	[PROVEEDOR_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](150) NULL,
	[IMAGEN] [varchar](500) NULL,
	[TIPO] [varchar](150) NULL,
	[BELVO_ID] [varchar](150) NULL,
	[CATEGORIA] [int] NULL,
	[PAIS] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROVEEDOR_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [OB_V1].[USUARIO]    Script Date: 1/09/2023 5:30:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OB_V1].[USUARIO](
	[USUARIO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NULL,
	[CONTRASENA] [varchar](50) NULL,
	[NOMBRES] [varchar](100) NULL,
	[APELLIDOS] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[USUARIO_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [OB_V1].[BANCO] ON 

INSERT [OB_V1].[BANCO] ([BANCO_ID], [NOMBRE], [LOCATION], [PROVIDER]) VALUES (1, N'banColombia', N'../../assets/images/LogoBancolombia.jpg', N'bancolombia_pers_co')
INSERT [OB_V1].[BANCO] ([BANCO_ID], [NOMBRE], [LOCATION], [PROVIDER]) VALUES (2, N'banBogota', N'../../assets/images/bancobogota2.jpg', N'bogota_corp_co')
INSERT [OB_V1].[BANCO] ([BANCO_ID], [NOMBRE], [LOCATION], [PROVIDER]) VALUES (3, N'banBbva', N'../../assets/images/bbva1.svg', N'bbva_pers_co')
SET IDENTITY_INSERT [OB_V1].[BANCO] OFF
GO
SET IDENTITY_INSERT [OB_V1].[CLASIFICACION] ON 

INSERT [OB_V1].[CLASIFICACION] ([CLASIFICACION_ID], [NOMBRE]) VALUES (0, N'CREDITO')
INSERT [OB_V1].[CLASIFICACION] ([CLASIFICACION_ID], [NOMBRE]) VALUES (1, N'FINANZAS')
INSERT [OB_V1].[CLASIFICACION] ([CLASIFICACION_ID], [NOMBRE]) VALUES (2, N'VIAJES')
SET IDENTITY_INSERT [OB_V1].[CLASIFICACION] OFF
GO
SET IDENTITY_INSERT [OB_V1].[CUENTA] ON 

INSERT [OB_V1].[CUENTA] ([CUENTA_ID], [LINK], [USUARIO_ID], [PROVEEDOR_ID]) VALUES (2, N'd0591c04-dd82-4d1f-8e0a-0154b996334c', 3, 3)
INSERT [OB_V1].[CUENTA] ([CUENTA_ID], [LINK], [USUARIO_ID], [PROVEEDOR_ID]) VALUES (3, N'a24d46c2-fe6d-48db-a1b7-2582abac9f5b', 1, 7)
INSERT [OB_V1].[CUENTA] ([CUENTA_ID], [LINK], [USUARIO_ID], [PROVEEDOR_ID]) VALUES (5, N'8c7ac2ba-3f49-4d7c-adbc-5e761b79be83', 3, 2)
SET IDENTITY_INSERT [OB_V1].[CUENTA] OFF
GO
SET IDENTITY_INSERT [OB_V1].[ENTIDAD] ON 

INSERT [OB_V1].[ENTIDAD] ([ENTIDAD_ID], [ENTIDAD], [CLASIFICACION_ID]) VALUES (1, N'EXITO', 3)
INSERT [OB_V1].[ENTIDAD] ([ENTIDAD_ID], [ENTIDAD], [CLASIFICACION_ID]) VALUES (2, N'NEQUI', 1)
INSERT [OB_V1].[ENTIDAD] ([ENTIDAD_ID], [ENTIDAD], [CLASIFICACION_ID]) VALUES (3, N'RAPPI', 3)
SET IDENTITY_INSERT [OB_V1].[ENTIDAD] OFF
GO
SET IDENTITY_INSERT [OB_V1].[PRODUCTO] ON 

INSERT [OB_V1].[PRODUCTO] ([PRODUCTO_ID], [NOMBRE], [FRANQUICIA], [IMAGEN], [DESCRIPCION], [VALOR_PREAPROBADO], [CUOTA_MANEJO], [INTERESES], [SOLICITUD], [PUNTAJE_MIN], [PUNTAJE_MAX], [CLASIFICACION_ID]) VALUES (1, N'RUBI', N'VISA', N'https://cdn.freebiesupply.com/logos/large/2x/visa-logo-png-transparent.png', N'TARJETA VISA RUBI CON INTERESES BAJOS Y BAJA CUOTA DE MANEJO TRIMESTRALMENTE', 480000, 10000, CAST(15 AS Numeric(18, 0)), N'ONLINE', 4000, 299999, 0)
INSERT [OB_V1].[PRODUCTO] ([PRODUCTO_ID], [NOMBRE], [FRANQUICIA], [IMAGEN], [DESCRIPCION], [VALOR_PREAPROBADO], [CUOTA_MANEJO], [INTERESES], [SOLICITUD], [PUNTAJE_MIN], [PUNTAJE_MAX], [CLASIFICACION_ID]) VALUES (2, N'RAPPICARD', N'RAPPI', N'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Rappi_backgr_logo.png/800px-Rappi_backgr_logo.png', N'TARJETA RAPPICARD', 2500000, 0, CAST(16 AS Numeric(18, 0)), N'ONLINE', NULL, NULL, 3)
INSERT [OB_V1].[PRODUCTO] ([PRODUCTO_ID], [NOMBRE], [FRANQUICIA], [IMAGEN], [DESCRIPCION], [VALOR_PREAPROBADO], [CUOTA_MANEJO], [INTERESES], [SOLICITUD], [PUNTAJE_MIN], [PUNTAJE_MAX], [CLASIFICACION_ID]) VALUES (3, N'TARJETA DEBITO', N'VISA', N'https://cdn.freebiesupply.com/logos/large/2x/visa-logo-png-transparent.png', N'TARJETA DEBITO SIN COBROS POR RETIRO MENSUAL', 0, 0, CAST(0 AS Numeric(18, 0)), N'ONLINE', NULL, NULL, 6)
SET IDENTITY_INSERT [OB_V1].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [OB_V1].[PROVEEDORES] ON 

INSERT [OB_V1].[PROVEEDORES] ([PROVEEDOR_ID], [NOMBRE], [IMAGEN], [TIPO], [BELVO_ID], [CATEGORIA], [PAIS]) VALUES (1, N'DAVIPLATA', N'https://statics.development.belvo.io/institutions/text_logos/daviplata_text.svg', N'BANCO', N'daviplata_co_retail', 1, N'CO')
INSERT [OB_V1].[PROVEEDORES] ([PROVEEDOR_ID], [NOMBRE], [IMAGEN], [TIPO], [BELVO_ID], [CATEGORIA], [PAIS]) VALUES (2, N'NEQUI', N'https://statics.development.belvo.io/institutions/text_logos/nequi_text.svg', N'APLICACION', N'nequi_co_retail', 1, N'CO')
INSERT [OB_V1].[PROVEEDORES] ([PROVEEDOR_ID], [NOMBRE], [IMAGEN], [TIPO], [BELVO_ID], [CATEGORIA], [PAIS]) VALUES (3, N'BANCOLOMBIA', N'https://statics.development.belvo.io/institutions/text_logos/bancolombia.svg', N'BANCO', N'bancolombia_co_retail', 1, N'CO')
SET IDENTITY_INSERT [OB_V1].[PROVEEDORES] OFF
GO
SET IDENTITY_INSERT [OB_V1].[USUARIO] ON 

INSERT [OB_V1].[USUARIO] ([USUARIO_ID], [USUARIO], [CONTRASENA], [NOMBRES], [APELLIDOS]) VALUES (1, N'cgutieto@nttdata.com', N'UnaPass12', N'Carlos', N'Gutierrez')
INSERT [OB_V1].[USUARIO] ([USUARIO_ID], [USUARIO], [CONTRASENA], [NOMBRES], [APELLIDOS]) VALUES (2, N'usr', N'usr', N'usr', N'usr')
INSERT [OB_V1].[USUARIO] ([USUARIO_ID], [USUARIO], [CONTRASENA], [NOMBRES], [APELLIDOS]) VALUES (3, N'cecm9113', N'qwerty9113', N'Carlos', N'Castro')
SET IDENTITY_INSERT [OB_V1].[USUARIO] OFF
GO
ALTER TABLE [OB_V1].[CUENTA]  WITH CHECK ADD  CONSTRAINT [CUENTA_FK1] FOREIGN KEY([USUARIO_ID])
REFERENCES [OB_V1].[USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [OB_V1].[CUENTA] CHECK CONSTRAINT [CUENTA_FK1]
GO
ALTER TABLE [OB_V1].[CUENTA]  WITH CHECK ADD  CONSTRAINT [CUENTA_FK2] FOREIGN KEY([PROVEEDOR_ID])
REFERENCES [OB_V1].[PROVEEDORES] ([PROVEEDOR_ID])
GO
ALTER TABLE [OB_V1].[CUENTA] CHECK CONSTRAINT [CUENTA_FK2]
GO
ALTER TABLE [OB_V1].[ENTIDAD]  WITH CHECK ADD  CONSTRAINT [ENTIDAD_FK1] FOREIGN KEY([CLASIFICACION_ID])
REFERENCES [OB_V1].[CLASIFICACION] ([CLASIFICACION_ID])
GO
ALTER TABLE [OB_V1].[ENTIDAD] CHECK CONSTRAINT [ENTIDAD_FK1]
GO
